@import '../../assets/scss/index.scss';

.sure-input {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
  color: $grey-light;
  padding: 24px 0 24px 24px;
}
