@import '../assets/scss/index.scss';

.sure-intro {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 100%;

    @include md-breakpoint {
      width: 60%;
    }

    @include lg-breakpoint {
      width: 70%;
    }
  }

  &__image {
    display: none;

    @include md-breakpoint {
      display: block;
      margin-right: 30px;
      width: 250px;
    }

    @include lg-breakpoint {
      display: block;
      width: auto;
    }
  }

  &--smaller {
    display: block;
    font-size: 2.5rem;
    line-height: 3rem;

    @include lg-breakpoint {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &--vertical-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
