@import '../../assets/scss/index.scss';

.sure-button {
  background: $purple;
  border: 2px;
  border-color: $purple;
  border-radius: 4px;
  color: #fff;
  font-size: 2rem;
  margin-right: 7px;
  padding: 20px 25px;

  @include lg-breakpoint {
    padding: 25px 35px;
  }

  &:hover {
    cursor: pointer;
  }

  &--secondary {
    background: transparent;
    border: 1px solid $purple;
    color: $purple;
  }

  &--text {
    background: transparent;
    color: $purple;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  &--top-margin {
    margin-top: 20px;
  }
}
