@import '../../assets/scss/index.scss';

.sure-card {
  background: #fff;
  border-color: transparent;
  border-radius: 8px;
  box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
  margin-top: 50px;
  padding: 8px 16px;

  &__address {
    letter-spacing: 1.5px;
    line-height: 1.8rem;
    padding-bottom: 5px;
    text-align: right;
  }

  &__header {
    border-bottom: 1px double black;
    font-size: 1.4rem;

    &__meta {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }
  }

  &__name {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 10px;
  }
}
