@import '../../assets/scss/index.scss';

.sure-intro {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 70%;
  }

  &--smaller {
    display: block;
    font-size: 4rem;
    line-height: 4rem;
  }

  &--vertical-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
