@import '../../../../assets/scss/index.scss';

.sure-input {
  color: $blue-dark;
  display: inline-block;
  margin: 0 20px 10px 0;
  width: 170px;

  @include lg-breakpoint {
    width: 250px;
  }

  &--small {
    width: 75px;

    @include lg-breakpoint {
      width: 115px;
    }
  }

  &--wide {
    width: 230px;

    @include md-breakpoint {
      width: 360px;
    }

    @include lg-breakpoint {
      width: 520px;
    }
  }

  &__field {
    background: #fff;
    border-color: transparent;
    border-radius: 8px;
    box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
    padding: 12px 0 12px 12px;
    width: 100%;

    @include lg-breakpoint {
      padding: 24px 0 24px 24px;
    }
  }
}
